name: Deployment

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Clone step - clone and check out repository
        uses: actions/checkout@v4
      - name: Create .env files
        run: |
          echo "COMMITMENT_LINK_PREFIX=${{ vars.COMMITMENT_LINK_PREFIX }}" > ./tg-bot/.env
          echo "TELEGRAM_BOT_TOKEN=${{ secrets.TELEGRAM_BOT_TOKEN }}" >> ./tg-bot/.env
          echo "DB_HOST=${{ vars.DB_HOST }}" >> ./tg-bot/.env
          echo "DB_PORT=${{ vars.DB_PORT }}" >> ./tg-bot/.env
          echo "DB_USER=${{ vars.DB_USER }}" >> ./tg-bot/.env
          echo "DB_PASSWORD=${{ vars.DB_PASSWORD }}" >> ./tg-bot/.env
          echo "DB_NAME=${{ vars.DB_NAME }}" >> ./tg-bot/.env
          echo "VITE_COMMITER_CONTRACT_ADDRESS=${{ vars.VITE_COMMITER_CONTRACT_ADDRESS }}" > ./client/.env
          echo "VITE_TON_NETWORK=${{ vars.VITE_TON_NETWORK }}" >> ./client/.env
          echo "VITE_API_ADDRESS=${{ vars.VITE_API_ADDRESS }}" >> ./client/.env
          echo "VITE_MANIFEST_URL=${{ vars.VITE_MANIFEST_URL }}" >> ./client/.env
      - name: Build and run docker images
        run: docker compose build --no-cache && docker compose up -d --force-recreate

  deploy-client:
    runs-on: self-hosted
    needs: build
    steps:
      - name: create temporary container with client build
        run: docker create --name stake_habit_client-container stake_habit-client
      - name: copy build to nginx serve directory
        run: docker cp stake_habit_client-container:/app/client/build/ /var/www/stake-habit/
      - name: remove temporary container
        run: docker rm stake_habit_client-container
