name: Deployment

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Clone step - clone and check out repository
        uses: actions/checkout@v4
      - name: Build client docker image
        run: DOCKER_BUILDKIT=0 docker compose build --no-cache --memory=2g
