name: Deployment
env:
  VITE_COMMITER_CONTRACT_ADDRESS: ${{ vars.VITE_COMMITER_CONTRACT_ADDRESS }}
  VITE_TON_NETWORK: ${{ vars.VITE_TON_NETWORK }}

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Clone step - clone and check out repository
        uses: actions/checkout@v4
      - name: check variables
        run: echo $VITE_COMMITER_CONTRACT_ADDRESS
      - name: Build client docker image
        run: DOCKER_BUILDKIT=0 docker compose build --no-cache --memory=2g

  deploy:
    runs-on: self-hosted
    needs: build
    steps:
      - name: create temporary container with client build
        run: docker create --name stake_habit_client-container stake_habit-client
      - name: copy build to nginx serve directory
        run: docker cp stake_habit_client-container:/app/client/build/ /var/www/stake-habit/
      - name: remove temporary container
        run: docker rm stake_habit_client-container
